= form_for @website do |f|
  -if @website.errors.any?
    #error_explanation
      %h2= "#{pluralize(@website.errors.count, "error")} prohibited this website from being saved:"
      %ul
        - @website.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Base Url"
    = f.text_field :base_url
  .field
    = f.label "Query string"
    = f.text_field :query_string
  .field
    = f.label "Next page param"
    = f.text_field :next_page_param
  .field
    = f.label "Next page increment"
    = f.text_field :next_page_increment
  .actions
    = f.submit 'Save'