%p
	Website:
	= @website.base_url
%p
	Query string:
	= @website.query_string
%p
	Next page param:
	= @website.next_page_param
%p
	Next page increment:
	= @website.next_page_increment

%p
= link_to 'Home', root_path
\|
= link_to 'Search', website_searches_path(@website)
\|
= link_to 'Edit', edit_website_path(@website)
\|
= link_to 'Destroy', @website, :confirm => 'Are you sure?', :method => :delete