%p
	= link_to "Add a person", new_person_path
%p
	= link_to "Add a business", new_business_path
%p
	= link_to "Add a website", new_website_path

- unless @persons.blank?
	People
	%ul	
	- @persons.each do |p|
		%li
			= link_to p.name, person_path(p)

- unless @businesses.blank?
	%p
		Company
		- @businesses.each do |b|
			= link_to b.name, business_path(b)

- unless @websites.blank?
	Sites
	%ul	
	- @websites.each do |w|
		%li
			= link_to w.base_url, website_path(w)