%p
	Field name:
	= @website_param.field_name
%p
	Description
	= @website_param.description
%p
	Value:
	= @website_param.field_value

%p
= link_to 'Home', root_path
\|
= link_to 'Edit', edit_website_param_path(@website, @website_param)
\|
= link_to 'Destroy', website_param_path(@website, @website_param), :confirm => 'Are you sure?', :method => :delete