.search_url
  = render 'search_url'
    
= form_for(@search, :url=>edit_website_search_url(@website, @search), :html=>{:method=>:get}, :remote=>true) do |f|
  .field
    = f.label "Search terms (separated by space)"
    = text_field_tag :search_terms, :size=>25
  .field
    = f.label "Add site-specific params"
    %ul
      - @site_search_params.each do |p|
        %li
          = f.label p.name || p.field_name
          /:
          = p.field_name
          /=
          = p.field_value
  .actions
    = f.submit 'Update'
          
= form_for [@website, @search] do |f|
  .actions
    = f.submit 'Save'
