= form_for(@search, :url=>edit_website_search_url(@website, @search), :html=>{:method=>:get, :id=>'search'}, :remote=>true) do |f|
  = f.label "Search terms (separated by space)"
  #search_field
    = text_field_tag :search_terms, nil, :class=>"span5"
  .field
    = f.label "Add site-specific params"

    - if @website.next_page_param && @website.next_page_increment
      %p
        %button#next_page Add

        %span#next_page_param
          = "#{@website.next_page_param}=#{@website.next_page_increment}"

    - @site_search_params.each do |p|
      %button Add
      = p.field_name
      \=
      = p.field_value
    %br

:javascript
  $(function(){

    $('#search_field').keyup(function() {
      $("form#search").submit();
    })

    $('button#next_page').click(function() {

    })

  });