%p
  Searches on
  = @website.base_url

- unless @website.searches.blank?
  %ul
    - @website.searches.each do |s|
      %li
        - if s.description
          = s.description
        = link_to s.url, website_search_path(@website, s)

= link_to "Website", website_path(@website)
\|
= link_to "New Search", new_website_search_path(@website)