%p
  %b Search Url:
  = @search.url
%p
  %b Description:
  = @search.description

- unless @search.search_type.blank?
  %b Type:
  = @search.search_type.humanize

%p
  %b CSS Selector:
  = @search.selector
%p
  %b Search Terms:
  = @search.terms

= form_tag(website_search_runs_path(@website, @search, @search_run), method: :post) do |f|
  = submit_tag "Run a scan"

- if @search.search_runs.present?
  Searches Run:

%ul
  - @search.search_runs.each do |run|
    %li
      = link_to run.created_at, website_search_run_path(@website, @search, run)
      Selector:
      = "'#{@search.selector}'"
      = "#{run.search_run_results.count} results found."

%p
= link_to 'Searches', website_searches_path(@website)
\|
= link_to 'Edit search params', edit_website_search_path(@website, @search)
\|
= link_to 'Destroy', [@website, @search], :confirm => 'Are you sure?', :method => :delete