%p
	Search Url:
	= @search.url
%p
	Results
	= !@search.result.blank?

- if @person_results.blank?
	= form_for(:search_result, :url=>website_search_path(@website, @search), :html=>{:method=>:get}) do |f|
		%p
			Tag user in search
			= f.collection_select(:person_id, @persons, :id, :name)
			= f.submit "Select"
- else
	%p
		Created activities
		%ul
			- @person_results.each do |p|
				= p

%p
= link_to 'Home', root_path
\|
= link_to 'Edit', edit_website_search_path(@website, @search)
\|
= link_to 'Destroy', [@website, @search], :confirm => 'Are you sure?', :method => :delete